body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* // box-sizing: border-box; */
}

body {
    /* // background: ${({ theme }) => theme.colors.body}; */
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("https://wallpaperaccess.com/full/701802.jpg"); */
    
        background: rgb(162,215,226);
        background: radial-gradient(circle, rgba(162,215,226,1) 19%, rgba(225,238,241,1) 49%, rgba(162,215,226,1) 78%);  

    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-size: 1.15em;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    max-width: 100%;
}
p {
    line-height: 1.5;
}
